USE [phpMS]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [FK_users_uGroup]
GO
/****** Object:  Table [dbo].[users]    Script Date: 07/07/2018 12:35:56 PM ******/
DROP TABLE [dbo].[users]
GO
/****** Object:  Table [dbo].[uGroup]    Script Date: 07/07/2018 12:35:56 PM ******/
DROP TABLE [dbo].[uGroup]
GO
/****** Object:  Table [dbo].[order]    Script Date: 07/07/2018 12:35:56 PM ******/
DROP TABLE [dbo].[order]
GO
USE [master]
GO
/****** Object:  Database [phpMS]    Script Date: 07/07/2018 12:35:56 PM ******/
DROP DATABASE [phpMS]
GO
/****** Object:  Database [phpMS]    Script Date: 07/07/2018 12:35:56 PM ******/
CREATE DATABASE [phpMS] ON  PRIMARY 
( NAME = N'phpMS', FILENAME = N'D:\EZSOFT\dbs\phpMS.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'phpMS_log', FILENAME = N'D:\EZSOFT\dbs\phpMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [phpMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [phpMS]
GO
/****** Object:  Table [dbo].[order]    Script Date: 07/07/2018 12:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[orderID] [nchar](10) NOT NULL,
	[customerID] [nchar](18) NOT NULL,
	[shipperID] [nchar](10) NULL,
	[deliverID] [nchar](10) NULL,
	[sellerID] [nchar](10) NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[uGroup]    Script Date: 07/07/2018 12:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uGroup](
	[ugID] [nchar](10) NOT NULL,
	[ugName] [nvarchar](50) NOT NULL,
	[ugType] [nchar](10) NOT NULL,
 CONSTRAINT [PK_uGroup] PRIMARY KEY CLUSTERED 
(
	[ugID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 07/07/2018 12:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[uID] [nchar](10) NOT NULL,
	[uName] [nvarchar](50) NOT NULL,
	[uEmail] [varchar](320) NOT NULL,
	[uPass] [nvarchar](128) NOT NULL,
	[ugID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[uID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_uGroup] FOREIGN KEY([ugID])
REFERENCES [dbo].[uGroup] ([ugID])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_uGroup]
GO
USE [master]
GO
